<!--CS: Start Create Snippets From Custom ASP.NET Markup Snippet-->
<!--SPM:<div class="ms-breadcrumb-dropdownBox">-->
<!--SPM:<SharePoint:AjaxDelta id="DeltaBreadcrumbDropdown" runat="server">-->
<!--SPM:	<SharePoint:PopoutMenu
		Visible="true"
		runat="server"
		ID="GlobalBreadCrumbNavPopout"
		IconUrl="/_layouts/15/images/spcommon.png?rev=27"
		IconAlt="<%$Resources:wss,master_breadcrumbIconAlt%>"
		ThemeKey="v15breadcrumb"
		IconOffsetX="215"
		IconOffsetY="120"
		IconWidth="16"
		IconHeight="16"
		AnchorCss="ms-breadcrumb-anchor"
		AnchorOpenCss="ms-breadcrumb-anchor-open"
		MenuCss="ms-breadcrumb-menu ms-noList">-->
<!--SPM:		<div class="ms-breadcrumb-top">-->
<!--SPM:			<asp:Label runat="server" CssClass="ms-breadcrumb-header" Text="<%$Resources:wss,master_breadcrumbHeader%>" />-->
<!--SPM:		</div>-->
<!--SPM:		<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server"><SharePoint:ListSiteMapPath
		runat="server"
		SiteMapProviders="SPSiteMapProvider,SPContentMapProvider"
		RenderCurrentNodeAsLink="false"
		PathSeparator=""
		CssClass="ms-breadcrumb"
		NodeStyle-CssClass="ms-breadcrumbNode"
		CurrentNodeStyle-CssClass="ms-breadcrumbCurrentNode"
		RootNodeStyle-CssClass="ms-breadcrumbRootNode"
		NodeImageOffsetX="217"
		NodeImageOffsetY="210"
		NodeImageWidth="16"
		NodeImageHeight="16"
		NodeImageUrl="/_layouts/15/images/spcommon.png?rev=27"
		RTLNodeImageOffsetX="199"
		RTLNodeImageOffsetY="210"
		RTLNodeImageWidth="16"
		RTLNodeImageHeight="16"
		RTLNodeImageUrl="/_layouts/15/images/spcommon.png?rev=27"
		HideInteriorRootNodes="true"
		SkipLinkText="" />-->
<!--SPM:		</asp:ContentPlaceHolder>-->
<!--SPM:	</SharePoint:PopoutMenu>-->
<!--SPM:</SharePoint:AjaxDelta>-->
<!--SPM:</div>-->
<!--CE: End Create Snippets From Custom ASP.NET Markup Snippet-->