<!-- extra placeholders -->
<h3>PlaceHolderTopNavBar</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTopNavBar" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderBodyLeftBorder</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyLeftBorder" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderBodyRightMargin</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyRightMargin" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />


<h3>PlaceHolderGlobalNavigation</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigation" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderGlobalNavigationSiteMap</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderGlobalNavigationSiteMap" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderHorizontalNav</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderHorizontalNav" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderLeftNavBarBorder</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderLeftNavBarBorder" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderMiniConsole</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderMiniConsole" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderNavSpacer</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderNavSpacer" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderPageDescription</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageDescription" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderPageImage</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageImage" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderPageTitleInTitleArea</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderSearchArea</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderSearchArea" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderSiteName</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderSiteName" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>SPNavigation</h3>
<!--MS:<asp:ContentPlaceHolder id="SPNavigation" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderTitleAreaClass</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleAreaClass" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderTitleAreaSeparator</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleAreaSeparator" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderTitleBreadcrumb</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleBreadcrumb" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderTitleLeftBorder</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleLeftBorder" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />

<h3>PlaceHolderTitleRightMargin</h3>
<!--MS:<asp:ContentPlaceHolder id="PlaceHolderTitleRightMargin" runat="server">-->
<!--ME:</asp:ContentPlaceHolder>-->
<hr />
