<div data-name="SiteLogo">
<!--CS: Start Site Logo Snippet-->
<!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->

<!--MS:<SharePoint:AjaxDelta runat="server" BlockElement="True">-->
<!--MS:<SharePoint:SPSimpleSiteLink runat="server" CssClass="ms-siteicon-a" ID="x42bb66d5663c44208b05b9d821117d41">-->
<!--MS:<SharePoint:SiteLogoImage name="onetidHeadbnnr0" runat="server" CssClass="ms-siteicon-img" ID="x33d896866e654c37ae1c171fc71388d4" LogoImageUrl="/_layouts/15/images/siteIcon.png"/>-->
<!--ME:</SharePoint:SPSimpleSiteLink>-->
<!--ME:</SharePoint:AjaxDelta>-->
<!--CE: End Site Logo Snippet-->
</div>