<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Page Layout (.aspx file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .aspx file, and any rename, move, or deletion operations will be reciprocated.

To build the page layout directly from this HTML file, simply fill in the contents of content placeholders.  Use the Snippet Generator at http://govconnect/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Fgovconnect%2F%5Fcatalogs%2Fmasterpage%2FgovConnectNewsLayout%2Easpx to create and customize additional content placeholders and other useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file within content placeholders will automatically sync to the associated page layout.
-->
<!-- _lcid="1033" _version="15.0.4763" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html[]>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
    <head>
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <link href="http://govconnect/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" />
        <link href="http://govconnect/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" />
        <link href="http://govconnect/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" />
        <link href="http://govconnect/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" />
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--CS: Start Edit Mode Panel Snippet-->
            <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--SPM:<%@Register Tagprefix="Publishing" Namespace="Microsoft.SharePoint.Publishing.WebControls" Assembly="Microsoft.SharePoint.Publishing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<Publishing:EditModePanel runat="server" id="editmodestyles">-->
                <!--MS:<SharePoint:CssRegistration name="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/editmode15.css %&#62;" After="&#60;% $SPUrl:~sitecollection/Style Library/~language/Themable/Core Styles/pagelayouts15.css %&#62;" runat="server">-->
                <!--ME:</SharePoint:CssRegistration>-->
            <!--ME:</Publishing:EditModePanel>-->
            <!--CE: End Edit Mode Panel Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderCustomCss" runat="server">-->
            {{> cssDep cssName="dcifp.css"}}
        <!--ME:</asp:ContentPlaceHolder>-->
    </head>
    <body>
        <!--MS:<asp:ContentPlaceHolder ID="PlaceHolderMain" runat="server">-->
            <div id="articleTitle">
                {{> spPageFieldTitle}}
            </div>
            <div id="articleContent">
                {{> spPageFieldPageContent}}
            </div>
            {{> spEditModePanel contentPartialName="spPageFieldPageImage"}}
            {{> spEditModePanel contentPartialName="spPageFieldArticleDate"}}

        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderPageTitleInTitleArea" runat="server">-->
            <!--CS: Start Page Field: Title Snippet-->
            <!--SPM:<%@Register Tagprefix="PageFieldFieldValue" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
            <!--MS:<PageFieldFieldValue:FieldValue FieldName="fa564e0f-0c70-4ab9-b863-0177e6ddd247" runat="server">-->
            <!--ME:</PageFieldFieldValue:FieldValue>-->
            <!--CE: End Page Field: Title Snippet-->
        <!--ME:</asp:ContentPlaceHolder>-->
        <!--MS:<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">-->
            <!--SPM:<SharePoint:FormDigest runat="server"/>-->
        <!--ME:</asp:ContentPlaceHolder>-->
    </body>
</html>
