<?xml version="1.0" encoding="utf-8"?><!--SPG:

This HTML file has been associated with a SharePoint Master Page (.master file) carrying the same name.  While the files remain associated, you will not be allowed to edit the .master file, and any rename, move, or deletion operations will be reciprocated.

To build the master page directly from this HTML file, simply edit the page as you normally would.  Use the Snippet Generator at http://govconnect/_layouts/15/ComponentHome.aspx?Url=http%3A%2F%2Fgovconnect%2F%5Fcatalogs%2Fmasterpage%2FgovConnect01%2Emaster to create and customize useful SharePoint entities, then copy and paste them as HTML snippets into your HTML code.   All updates to this file will automatically sync to the associated Master Page.

-->
<!-- _lcid="1033" _version="15.0.4763" _dal="1" -->
<!-- _LocalBinding -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <!--CS: Start Head Snippet-->
        <!--SPM:<%@Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SPM:<%@Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"%>-->
        <!--SID:00 -->
        <meta name="GENERATOR" content="Microsoft SharePoint" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Expires" content="0" />
        <!--SPM:<SharePoint:RobotsMetaTag runat="server"/>-->

        <!--MS:<SharePoint:PageTitle runat="server">-->
            <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderPageTitle" runat="server">-->
            <!--SPM:<SharePoint:ProjectProperty Property="Title" runat="server"/>-->
            <!--SPM:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:PageTitle>-->
        <!--SPM:<SharePoint:StartScript runat="server"/>-->
        <!--MS:<SharePoint:CssLink runat="server" Version="15">-->
            <!--PS: Start Preview--><link href="http://govconnect/_layouts/15/1033/styles/Themable/corev15.css" rel="stylesheet" type="text/css" /><link href="http://govconnect/_layouts/15/1033/styles/OLD/Themable/layouts.css" rel="stylesheet" type="text/css" /><link href="http://govconnect/_layouts/15/1033/styles/Themable/searchv15.css" rel="stylesheet" type="text/css" /><!--PE: End Preview-->
        <!--ME:</SharePoint:CssLink>-->
        <!-- custom css -->
        <!--SPM:<SharePoint:CacheManifestLink runat="server"/>-->
        <!--SPM:<SharePoint:PageRenderMode runat="server" RenderModeType="Standard"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="core.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="menu.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="callout.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="sharing.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:ScriptLink language="javascript" name="suitelinks.js" OnDemand="true" runat="server" Localizable="false"/>-->
        <!--SPM:<SharePoint:CustomJSUrl runat="server"/>-->
        <!--MS:<SharePoint:SoapDiscoveryLink runat="server">-->
            <!--PS: Start Preview--><link href="http://govconnect/_vti_bin/spsdisco.aspx" rel="alternate" type="text/xml" /><!--PE: End Preview-->
        <!--ME:</SharePoint:SoapDiscoveryLink>-->
        <!--MS:<SharePoint:AjaxDelta id="DeltaPlaceHolderAdditionalPageHead" Container="false" runat="server">-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderAdditionalPageHead" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
            <!--MS:<SharePoint:DelegateControl runat="server" ControlId="AdditionalPageHead" AllowMultipleControls="true">-->
            <!--ME:</SharePoint:DelegateControl>-->
            <!--MS:<asp:ContentPlaceHolder id="PlaceHolderBodyAreaClass" runat="server">-->
            <!--ME:</asp:ContentPlaceHolder>-->
        <!--ME:</SharePoint:AjaxDelta>-->
        <!--SPM:<SharePoint:CssRegistration Name="Themable/corev15.css" runat="server"/>-->
        <!--SPM:<SharePoint:AjaxDelta id="DeltaSPWebPartManager" runat="server">-->
        <!--SPM:<WebPartPages:SPWebPartManager runat="server"/>-->
        <!--SPM:</SharePoint:AjaxDelta>-->
        <!--CE: End Head Snippet-->
        <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>

<mso:ContentType msdt:dt="string">Design File</mso:ContentType>
<mso:ContentTypeId msdt:dt="string">0x0101000F1C8B9E0EB4BE489F09807B2C53288F0054AD6EF48B9F7B45A142F8173F171BD10003D357F861E29844953D5CAA1D4D8A3A</mso:ContentTypeId>
<mso:HtmlDesignAssociated msdt:dt="string">1</mso:HtmlDesignAssociated>
<mso:HtmlDesignFromMaster msdt:dt="string"></mso:HtmlDesignFromMaster>
<mso:HtmlDesignConversionSucceeded msdt:dt="string">True</mso:HtmlDesignConversionSucceeded>
<mso:HtmlDesignStatusAndPreview msdt:dt="string">http://govconnect/_catalogs/masterpage/govConnect01.html, Conversion successful.</mso:HtmlDesignStatusAndPreview>
</mso:CustomDocumentProperties>
</xml><![endif]-->
    {{> cssDep cssName="dcifp.css"}}
    </head>
    <body>
        <div id="ms-designer-ribbon">
        {{> spRibbon}}
        </div>
        <!--MS:<SharePoint:SPSecurityTrimmedControl runat="server" AuthenticationRestrictions="AnonymousUsersOnly">-->
            <!--SPM:<wssucw:Welcome runat="server" EnableViewState="false"/>-->
        <!--ME:</SharePoint:SPSecurityTrimmedControl>-->


        <div id="container">
            <div id="topNavSpaceAbove" class="ms-dialogHidden"></div>
            <!-- Top Nav Hamburger -->
            <div id="topNavHamburger" class="ms-dialogHidden">
                <span class="topNavHamburgerTitle">{{> spSiteTitle}}</span>
                <span class="topNavHamburgerIcon"><i class="fa fa-bars"></i></span>
            </div>
            <!-- Top Nav -->
            <div id="topNavContainer" data-name="TopNavigationNoFlyoutWithStartNode" class="ms-dialogHidden">
            {{> spTopNav }}
            </div>

            <div id="titleAndLogoContainer" class="ms-dialogHidden">
                <span id="logoContainer">
                    {{> spSiteLogo}}
               </span>
               <span id="titleContainer">
                    <h1>{{> spSiteTitleLink}}</h1>
               </span>
            </div>
            <div id="topNavSpaceBelow" class="ms-dialogHidden"></div>

            <div id="s4-workspace" class="s4-nosetwidth">
            {{> s4workspace}}
            </div>
        </div>
<!--CS: Start Create Snippets From Custom ASP.NET Markup Snippet-->
<!--SPM:<asp:panel id="hideItPanel" runat="server" visible="true">-->
{{> spHiddenPlaceholders}}
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderLeftNavBar" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderLeftNavBarTop" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderQuickLaunchTop" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderLeftNavBarDataSource" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderCalendarNavigator" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderLeftActions" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->
<!--MS:<asp:ContentPlaceHolder ID="PlaceHolderQuickLaunchBottom" runat="server">--><!--ME:</asp:ContentPlaceHolder>-->

<!--SPM:</asp:panel>-->
<!--CE: End Create Snippets From Custom ASP.NET Markup Snippet-->

        <!-- PlaceHolderFormDigest -->
        <!--SPM:<SharePoint:AjaxDelta id="DeltaFormDigest" BlockElement="true" runat="server">-->
        <!--SPM:<asp:ContentPlaceHolder id="PlaceHolderFormDigest" runat="server">-->
        <!--SPM:<SharePoint:FormDigest runat="server"/>-->
        <!--SPM:</asp:ContentPlaceHolder>-->
        <!--SPM:</SharePoint:AjaxDelta>-->
        {{> jsDep}}
    </body>
</html>
