// Scss
@import "normalize";
@import "susy";
@import "breakpoint";
@import "font-awesome";

$tablet: 600px;
$desktop: 980px;

$baseColor: blue;
$baseFontFamily: "Gill Sans", "Gill Sans MT", "Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
$baseFontSize: 13px;

$topNavBgColor: darken($baseColor, 30%);
$topNavTxtColor: lighten($baseColor, 30%);

$topNavFontSize: 1.4*$baseFontSize;
$topNavFontWeight: 400;

$susy: (
	columns: 12,
	global-box-sizing: border-box
	//,debug: (image: show)
);

$topMenuSpaceSize: 10px;

@include border-box-sizing;

html, body {
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
}

#ms-designer-ribbon {
	@include breakpoint(max-width $desktop - 1) {
		display: none;
	}
}

#container {
	@include breakpoint(max-width $tablet - 1) {
		@include container();
	}
	@include breakpoint(min-width $tablet) {
		@include container(90%);
	}
	height: 100vh;
}

#topNavSpaceAbove {
	display: none;
	@include breakpoint(min-width $tablet) {
		display: block;
		height: gutter();
	}
}

#topNavHamburger {
	display: none;
	@include breakpoint(max-width $tablet - 1) {
		display: block;
		@include span(full);
		background-color: $topNavBgColor;
		> .topNavHamburgerTitle {
			display: inline-block;
			float: left;
			color: $topNavTxtColor;
			font-weight: 700;
			font-size: $topNavFontSize;
			font-weight: $topNavFontWeight;
		}
		> .topNavHamburgerIcon {
			display: inline-block;
			float: right;
			color: $topNavTxtColor;
			font-size: $topNavFontSize;
			font-weight: $topNavFontWeight;
			padding-right: gutter();
		}
	}
}

#topNavContainer {
	@include span(full);
	background-color: $topNavBgColor;

	> div {
		width: 100%;
		ul {
			padding-left: 0;
			@include breakpoint(min-width $tablet) {
				padding-left: $topMenuSpaceSize;
			}
			width: 100%;
			> li.static {

				@include breakpoint(max-width $tablet - 1) {
					display: block;
					width: 100%;
					border-top: 1px solid $topNavTxtColor;
					padding-left: $topMenuSpaceSize;
					padding-bottom: $topMenuSpaceSize;
				}
				span.menu-item-text {
					color: $topNavTxtColor;
					font-size: $topNavFontSize;
					font-weight: $topNavFontWeight;
					width: 100%;
				}
				> a.static {
					margin-top: $topMenuSpaceSize;
					margin-bottom: $topMenuSpaceSize;
				}

			}
		}
	}
}

#quickLaunchContainer {
	display: none;
	@include breakpoint($tablet $desktop) {
		display: block;
		@include span(4 of 12);
		#sideNavBox {
			margin-left: 0;
		}
	}
	@include breakpoint(min-width $desktop) {
		display: block;
		@include span(3 of 12);
		#sideNavBox {
			margin-left: 0;
		}
	}
}

#s4-workspace {
	display: block;
	@include breakpoint(max-width $tablet - 1) {
		@include span(full);
	}
	@include breakpoint($tablet $desktop) {
		display: block;
		@include span(8 of 12 last);
	}
	@include breakpoint(min-width $desktop) {
		display: block;
		@include span(9 of 12 last);
	}
}
