// Scss
@import "normalize";
@import "susy";
@import "breakpoint";
@import "font-awesome";
@import "dcivariables";

// Scss. Clearfix Mixin
@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

$susy: (
	columns: 12,
	global-box-sizing: border-box
	//,debug: (image: show)
);

@import "dcinoleftmenu";

#inTheNewsTitleContainer {
	position: relative;
	background-color: $titleAndLogoBgColor;
	margin-top: 15px;
	padding-top: $topMenuSpaceSize;
	padding-bottom: $topMenuSpaceSize;
	@include span(full);
	> span {
		color: $titleAndLogoTxtColor;
		font-size: $topNavFontSize;
		padding-left: $topMenuSpaceSize;
	}
}

#WebPartZoneContainer {
	@include span(full);
	div.ms-webpartzone-cell {
		margin-bottom: 5px !important;
	}
}

#callOutsContainer {
	@include span(full);
}

#callOutsItemsContainer {
	position: relative;
	width: 100%;
	height: 28.85vw;
}

div.callOutItemContainer {
	overflow: hidden;
	position: relative;
	@include breakpoint(max-width $tablet-1){
		@include span(full);
	}
	@include breakpoint(min-width $tablet){
		position: absolute;
		&.tileOrder1 {
			@include span(4);
			top: 0;
			left: 0;
		}
		&.tileOrder2 {
			@include span(4 last);
			top: 0;
			left: span(8 wide);
		}
		&.tileOrder3 {
			@include span(4);
			top: 0;
			left: span(4 wide);
		}
		&.tileOrder4 {
			@include span(4);
			bottom: 0;
			left: 0;
		}
		&.tileOrder5 {
			@include span(4 last);
			bottom: 0;
			left: span(8 wide);
		}
	}
}

img.callOutItemImg {
	width: 100%;
	height: auto;
}

a.callOutItemCaptionLink {
	width: 100%;
	display: block;
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	top: 55%;
	z-index: 100;
	padding-top: 6%;
	padding-bottom: 100%;
	background-clip: padding-box;
	text-decoration: none;
	&.tileOrder3 {
		top: 77%;
	}
}

a.callOutItemCaptionLink:active {
	text-decoration: none;
}

div.callOutItemCaptionContainer {
	color: $topNavTxtColor;
	font-weight: $topNavFontWeight;
	padding-left: $titleAndLogoFontSize;
	@include breakpoint(max-width $tablet-1){
		font-size: 5vw;
	}
	@include breakpoint(min-width $tablet){
		font-size: 2vw;
	}
}
