// Scss
@import "normalize";
@import "susy";
@import "breakpoint";
@import "font-awesome";
@import "dcivariables";

// Scss. Clearfix Mixin
@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

$susy: (
	columns: 12,
	global-box-sizing: border-box
	//,debug: (image: show)
);

@import "dcimain";

#quickLaunchContainer {
	display: none;
	#sideNavBox {
		margin-left: 0;
	}
	@include breakpoint($tablet $tablet-l) {
		display: block;
		@include span(4 of 12);
	}
	@include breakpoint($tablet-l $desktop-l) {
		display: block;
		@include span(3 of 12);
	}
	@include breakpoint(min-width $desktop-l) {
		display: block;
		@include span(2 of 12);
	}
	a.static.selected.menu-item {
		background-color: $titleAndLogoBgColor;
		color: $titleAndLogoTxtColor;
	}
}

#s4-workspace {
	display: block;
	@include breakpoint(max-width $tablet - 1) {
		@include span(full);
	}
	@include breakpoint($tablet $tablet-l) {
		display: block;
		@include span(8 of 12 last);
	}
	@include breakpoint($tablet-l $desktop-l) {
		display: block;
		@include span(9 of 12 last);
	}
	@include breakpoint(min-width $desktop-l) {
		display: block;
		@include span(10 of 12 last);
	}
}
