// Scss
@import "normalize";
@import "susy";
@import "breakpoint";
@import "font-awesome";
@import "dcivariables";

// Scss. Clearfix Mixin
@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

$susy: (
	columns: 12,
	global-box-sizing: border-box
	//,debug: (image: show)
);

@import "dcimain";

#quickLaunchContainer {
	display: none;
}

#s4-workspace {
	display: block;
	@include span(full);
	@include cf;
}

#callOutsContainer {
	display: block;
	@include span(full);
}

#inTheNewsTitleContainer {
	display: block;
	background-color: $titleAndLogoBgColor;
	padding-top: $topMenuSpaceSize;
	padding-bottom: $topMenuSpaceSize;
	@include span(full);
	> span {
		color: $titleAndLogoTxtColor;
		font-size: $topNavFontSize;
		padding-left: $topMenuSpaceSize;
	}
}

#inTheNewsContainer {
	display: block;
	@include span(full);
}

